@page
@model SacramentMeetingPlanner.Pages.MeetingPlanner.CreateModel

@{
    ViewData["Title"] = "Add Sacrament Meeting";
}

<h1>Add Sacrament Meeting</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.wardName" class="control-label"></label>
                <input asp-for="SacramentMeeting.wardName" class="form-control" />
                <span asp-validation-for="SacramentMeeting.wardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.conductor" class="control-label"></label>
                <input asp-for="SacramentMeeting.conductor" class="form-control" />
                <span asp-validation-for="SacramentMeeting.conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.date" class="control-label"></label>
                <input asp-for="SacramentMeeting.date" class="form-control" />
                <span asp-validation-for="SacramentMeeting.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.openingPrayer" class="control-label"></label>
                <input asp-for="SacramentMeeting.openingPrayer" class="form-control" />
                <span asp-validation-for="SacramentMeeting.openingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.openingHymn" class="control-label"></label>
                <select asp-for="SacramentMeeting.openingHymnId" class ="form-control" asp-items="ViewBag.openingHymnId">
                    <option value="">Please select a hymn</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.sacramentHymn" class="control-label"></label>
                <select asp-for="SacramentMeeting.sacramentHymnId" class ="form-control" asp-items="ViewBag.sacramentHymnId">
                    <option value="">Please select a hymn</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.restHymn" class="control-label"></label>
                <select asp-for="SacramentMeeting.restHymnId" class ="form-control" asp-items="ViewBag.restHymnId" required="false">
                    <option value="">Please select a hymn</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.specialMusicalNumber" class="control-label"></label>
                <textarea rows="3" asp-for="SacramentMeeting.specialMusicalNumber" class="form-control"></textarea>
                <span asp-validation-for="SacramentMeeting.specialMusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.closingHymn" class="control-label"></label>
                <select asp-for="SacramentMeeting.closingHymnId" class ="form-control" asp-items="ViewBag.closingHymnId">
                    <option value="">Please select a hymn</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.closingPrayer" class="control-label"></label>
                <input asp-for="SacramentMeeting.closingPrayer" class="form-control" />
                <span asp-validation-for="SacramentMeeting.closingPrayer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SacramentMeeting.speakers" class="control-label"></label>
                <button id="addSpeaker" class='btn btn-primary'>+</button>
                <div id="Speakers">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success mt-2"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var count = 1;
        $("#addSpeaker").on("click", function () {
            var htmlstring = "<div class='speakerRow row'><label>Speaker " + count + "</label>";
            htmlstring += "<input type='text' class='form-control text-muted my-2 ms-2' placeholder='Speaker Name' name='SacramentMeeting.speakers[" + (count - 1) +"].name' required='required'>";
            htmlstring += "<input type='text' class='form-control text-muted my-2 ms-2' placeholder='Speaker Topic' name='SacramentMeeting.speakers[" + (count - 1) + "].topic' >";
            htmlstring += "<button class='btn btn-danger ms-2' style='padding-top:1px' onclick='deleteRow(this)' value='" + (count - 1)+"'>Delete Speaker</button></div>"
            $("#Speakers").append(htmlstring);
            count++;
        })

        function deleteRow(element) {
            var currentRow = parseInt($(element).val());
            let nextsiblings = document.querySelectorAll('.speakerRow:nth-child(' + (currentRow + 1) + ') ~ *');
            for (var i = 0; i < nextsiblings.length; i++) {
                var childElements = nextsiblings[i].children;
                childElements[0].textContent = "Speaker" + (currentRow + 1);
                childElements[1].setAttribute("name", "SacramentMeeting.speakers[" + currentRow + "].name");
                childElements[2].setAttribute("name", "SacramentMeeting.speakers.topic[" + currentRow + "].topic");
                childElements[3].setAttribute("value", currentRow)
                currentRow++;
            }
            $(element).parent("div").remove();
            count--;
        }
    </script>
    }