@page
@model SacramentMeetingPlanner.Pages.MeetingPlanner.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SacramentMeeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SacramentMeeting.sacramentMeetingId" />
            <div class="form-group">
                <label asp-for="SacramentMeeting.wardName" class="control-label"></label>
                <input asp-for="SacramentMeeting.wardName" class="form-control" />
                <span asp-validation-for="SacramentMeeting.wardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.conductor" class="control-label"></label>
                <input asp-for="SacramentMeeting.conductor" class="form-control" />
                <span asp-validation-for="SacramentMeeting.conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.date" class="control-label"></label>
                <input asp-for="SacramentMeeting.date" class="form-control" />
                <span asp-validation-for="SacramentMeeting.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.openingPrayer" class="control-label"></label>
                <input asp-for="SacramentMeeting.openingPrayer" class="form-control" />
                <span asp-validation-for="SacramentMeeting.openingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.openingHymnId" class="control-label"></label>
                <select asp-for="SacramentMeeting.openingHymnId" class="form-control" asp-items="ViewBag.openingHymnId"></select>
                <span asp-validation-for="SacramentMeeting.openingHymnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.sacramentHymnId" class="control-label"></label>
                <select asp-for="SacramentMeeting.sacramentHymnId" class="form-control" asp-items="ViewBag.sacramentHymnId"></select>
                <span asp-validation-for="SacramentMeeting.sacramentHymnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.restHymnId" class="control-label"></label>
                <select asp-for="SacramentMeeting.restHymnId" class="form-control" asp-items="ViewBag.restHymnId"></select>
                <span asp-validation-for="SacramentMeeting.restHymnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.specialMusicalNumber" class="control-label"></label>
                <input asp-for="SacramentMeeting.specialMusicalNumber" class="form-control" />
                <span asp-validation-for="SacramentMeeting.specialMusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.closingHymnId" class="control-label"></label>
                <select asp-for="SacramentMeeting.closingHymnId" class="form-control" asp-items="ViewBag.closingHymnId"></select>
                <span asp-validation-for="SacramentMeeting.closingHymnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.closingPrayer" class="control-label"></label>
                <input asp-for="SacramentMeeting.closingPrayer" class="form-control" />
                <span asp-validation-for="SacramentMeeting.closingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.speakers" class="control-label"></label>
                <button id="addSpeaker" class='btn btn-primary'>+</button>
                <div id="Speakers">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-primary mt-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var count = 1;
        $("#addSpeaker").on("click", function () {
            var htmlstring = "<div class='speakerRow'><label>Speaker " + count + "</label>";
            htmlstring += "<input type='text' class='form-control my-2 ms-2' name='SacramentMeeting.speakers[" + (count - 1) +"].name' required='required'>";
            htmlstring += "<input type='text' class='form-control my-2 ms-2' name='SacramentMeeting.speakers[" + (count - 1) + "].topic' >";
            htmlstring += "<button class='btn btn-danger ms-2' style='padding-top:1px' onclick='deleteRow(this)' value='" + (count - 1)+"'>Delete Speaker</button></div>"
            $("#Speakers").append(htmlstring);
            count++;
        })

        function deleteRow(element) {
            var currentRow = parseInt($(element).val());
            let nextsiblings = document.querySelectorAll('.speakerRow:nth-child(' + (currentRow + 1) + ') ~ *');
            for (var i = 0; i < nextsiblings.length; i++) {
                var childElements = nextsiblings[i].children;
                childElements[0].textContent = "Speaker" + (currentRow + 1);
                childElements[1].setAttribute("name", "SacramentMeeting.speakers[" + currentRow + "].name");
                childElements[2].setAttribute("name", "SacramentMeeting.speakers.topic[" + currentRow + "].topic");
                childElements[3].setAttribute("value", currentRow)
                currentRow++;
            }
            $(element).parent("div").remove();
            count--;
        }
    </script>
    }